#### Libraries and Data
Imported libraries and data for further analysis.

In [8]:
import pandas as pd
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
filepath = "C:/Users/WALDMJN/OneDrive - Schaeffler/Uni/Data Exploration Project/Pred Maintenance Project/Predictive-Maintenance/Data/predictive_maintenance.csv"
df = pd.read_csv(filepath)
df.sample(10)

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
6266,6267,L53446,L,300.8,310.4,1368,46.8,21,0,No Failure
3712,3713,L50892,L,302.3,311.5,1543,33.1,39,0,No Failure
8174,8175,L55354,L,299.9,311.3,1371,52.3,167,0,No Failure
2931,2932,L50111,L,300.8,309.7,1373,45.4,179,0,No Failure
2503,2504,L49683,L,299.2,309.0,1408,47.2,0,0,No Failure
4974,4975,L52154,L,303.8,312.7,1414,41.7,190,0,No Failure
1929,1930,M16789,M,298.0,307.8,1483,50.9,26,0,No Failure
565,566,H29979,H,297.7,309.7,1570,35.8,160,0,No Failure
5428,5429,L52608,L,302.7,312.4,1453,47.3,62,0,No Failure
6296,6297,L53476,L,301.0,310.5,1429,39.4,98,0,No Failure

In [10]:
df.apply(lambda x: x.nunique())

UDI                        10000
Product ID                 10000
Type                           3
Air temperature [K]           93
Process temperature [K]       82
Rotational speed [rpm]       941
Torque [Nm]                  577
Tool wear [min]              246
Target                         2
Failure Type                   6
dtype: int64

In [11]:
df.describe()

,UDI,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900
std,2886.89568,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981
min,1.00000,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000
25%,2500.75000,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000
50%,5000.50000,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000
75%,7500.25000,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000
max,10000.00000,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000

#### Short Infos:

- "UDI" and "Product ID" are unique -> it can be removed.
- "Air Temperature" and "Process Temperature" is shown in Kelvin.
- Different "Failure Type's".
- 10 000 values, no missing values.
- "Target" are just one or zeros.
- "Target" is combined with "Failure Type".

In [12]:
df = df.drop(["UDI", "Product ID"], axis = 1)

In [13]:
df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,M,298.1,308.6,1551,42.8,0,0,No Failure
1,L,298.2,308.7,1408,46.3,3,0,No Failure
2,L,298.1,308.5,1498,49.4,5,0,No Failure
3,L,298.2,308.6,1433,39.5,7,0,No Failure
4,L,298.2,308.7,1408,40.0,9,0,No Failure

In [14]:
df['Failure Type'].value_counts()

Failure Type
No Failure                  9652
Heat Dissipation Failure     112
Power Failure                 95
Overstrain Failure            78
Tool Wear Failure             45
Random Failures               18
Name: count, dtype: int64

- six different varieties of failures: no failure and 5 failure type's

- Check for missing values:

In [15]:
df.isna().sum()

Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Target                     0
Failure Type               0
dtype: int64